@font-face {
  font-family: 'Haim';
  src: url('../fonts/VC_Haim-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Haim';
  src: url('../fonts/VC_Haim-Tzar.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SimplerPro Mono';
  src: url('../fonts/SimplerPro Mono Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SimplerPro Mono';
  src: url('../fonts/SimplerPro HLAR Mono Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} 