// Colors //
$primary-color: #B6DAEA;
$secondary-color: #fff;
$accent-color: #FF5004;
$background-color: #090A0A;
$disabled-color: rgba($primary-color, 0.3);

// Fonts //
$font-family-heading: 'Haim', sans-serif;
$font-family-body: 'Simpler Pro Mono', sans-serif;
$font-family-mono: 'SimplerPro Mono', monospace;

// Font weights
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-tzar: normal;  // Using normal weight for Tzar variant

// Font sizes //
$font-size-heading: 162px;
$font-size-subheading: 50px;
$font-size-body: 16px;


// padding //
$spacing-md: 16px;
$spacing-sm: 8px;
$spacing-lg: 26px;
$spacing-xl: 40px;

// Border
$border-radius: 4px;

// Shadows
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);